<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}} Newsletter</title>
    <link rel="stylesheet" href="styles/globals.css">
</head>

<body>
    <nav>
        <h1>Homecare News <span class="company-name">by
                <a href="https: //www.trollycare.com/">
                    </href>{{name}}
                </a>
            </span>
        </h1>
        <div class="nav-links">
            <a href="https://www.trollycare.com/">Contact Us</a>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="intro">
                <div class="intro-header">
                    {{dates.start}} to {{dates.end}}
                </div>
                <p class="summary">
                    {{summary}}
                </p>
            </div>
            {{!-- TODO rename --}}
            <div class="articles">
                <h2 class="articles-header">Articles</h2>
                {{#each articles }}
                <article class="article">
                    <h3 class="article-title"><a class="article-link" href="{{link}}">{{title}}</a></h3>
                    <p class="article-description">{{description}}</p>
                </article>
                {{/each}}
            </div>
        </div>
    </main>


    <footer>
        <p>
            <b>TrollyCare Insurance is a division of
                <a href="https://www.insurancebcx.com/">
                    Insurance BCX
                </a>
            </b>
        </p>
        <p>
            +1 (833)-419-3093 | Proudly based in El Paso, TX
        </p>
        <p>
            © {{dates.year}} {{name}}. All rights reserved.
        </p>
    </footer>
</body>

</html>